.list-users {
  .list-title {
    margin-bottom: 0.5rem;
  }
  .list-count {
    font-style: italic;
  }
  .list-top-left {
    @include mobile {
      margin-bottom: 1rem;
    }
  }
  .list-top-right {
    @include mobile {
      width: 100%;
    }
  }
  .list-users-top {
    @include flex-between;
    align-items: start;
    margin-bottom: 1rem;
    @include mobile {
      width: 100%;
      flex-direction: column;
    }
    .form-search {
      position: relative;
      width: 100%;
      max-width: 300px;
      @include mobile {
        max-width: unset;
      }
      input {
        width: 100%;
        padding: 0.5rem 1.5rem 0.5rem 1rem;
        border: 1px solid $primary-color;
        border-radius: 5px;
        &:focus {
          outline: none;
          & + i {
            color: $white;
          }
        }
      }
      i {
        position: absolute;
        top: 45%;
        right: 0.5rem;
        transform: translateY(-45%);
        color: rgba($white, 0.5);
        font-size: 1.2rem;
      }
    }
  }
  .list-users-bottom {
  }
  .user-item {
    @include flex-start;
    background: $white;
    border-radius: 25px;
    .user-picture {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .user-info {
      p {
        padding-left: 1rem;
        font-weight: 500;
        color: $black;
      }
    }
    &:hover {
      background: $surface-hover;
      transition: $transition-slow;
    }
  }
}
