.loader {
  @include flex-center;
  margin: 0 0.5rem;

  svg {
    animation: spin 1s linear infinite;
  }
}

.loader-container {
  @include flex-center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($white, 0.6);
  z-index: 1000;
}

