.profile-component {
  position: relative;
  .btn-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    @include mobile {
      top: 0;
      right: 0;
    }
  }
  .profil-top {
    @include flex-center;
    gap: 1rem;
    margin-bottom: 2rem;
    .profil-picture {
      position: relative;
      max-width: 250px;
      max-height: 250px;
    }
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      @include mobile {
        width: 150px;
        height: 150px;
      }
    }
    .action-change-photo {
      @include flex-center;
      position: absolute;
      cursor: pointer;
      background-color: $primary-color;
      bottom: 1rem;
      right: 1rem;
      padding: 1rem;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      @include mobile {
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
      }
      label {
        @include flex-center;
        color: $white;
        margin: 0;
        cursor: pointer;
        i {
          font-size: 1.2rem;
        }
      }
    }
  }
  .profil-content {
    @include flex-column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 6rem;
    @include mobile {
      gap: 1.5rem;
      padding-bottom: 0;
    }
    .profil-info-item {
      width: 30vw;
      display: grid;
      grid-template-columns: 3rem 1fr;
      justify-content: start;
      @include mobile {
        width: 100%;
      }
      & > div {
        line-height: 1;
      }
      .profil-info-title {
        margin-bottom: 1rem;
        @include mobile {
          margin-bottom: 0.7rem;
        }
      }
      i {
        font-size: 1.2rem;
      }
    }
  }
  .profil-edit-action {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    @include flex-center;
    padding: 1rem;
    background-color: $white;
    box-shadow: $shadow-lg;
    gap: 0.8rem;
    @include mobile {
      background: transparent;
      bottom: 4rem;
    }
    button {
      margin: 0;
    }
  }
}
